/* styles.css */
@font-face {
    font-family: 'Lobster';
    src: url('fonts/Lobster-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: rgb(139, 188, 235);
}
h1 {
    color: rgb(255, 255, 255); 
    background-color: rgb(14, 106, 192); 
    font-family: 'Lobster';
    font-weight: bold;
    font-size:30px ;
}
.para1 {color: rgb(8, 143, 64)}
.colored {color: #ad1d1d;}

.line1 {margin-bottom: 5px; color:aquamarine;}
.line2 {margin-bottom: 10px; color:blue;}
.line3 {margin-bottom: 15px;}
.types {margin-bottom: 20px; 
    font-family: 'Lobster', cursive;
    font-style: italic;
}
.moja {color: #d35050;
    display: flex;
    font-family: 'Lobster';
    font-size: 30px;
    background-image: url(images/cloud.webp); 
       border:solid cornflowerblue; border-radius: 20px;
    width:700px;
    height:100px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    align-items: center;      /* centers vertically */
    justify-content: center;  /* centers horizontally */

}
#Yes {
    font-family: 'Courier New', Courier, monospace;
    font-weight:bolder;
    font-size: 20px;
    color:rgb(4, 131, 15)
}
#No {
    font-family: 'Courier New', Courier, monospace;
    font-weight:bolder;
    font-size: 20px;
    color:#ad1d1d
}
.plane-image {
    width:300px;
    border:solid cornflowerblue;
    border-radius: 20px;
}
