/* styles.css */
body {
    background-color: rgb(139, 188, 235);
}
h1 {
    color: rgb(255, 255, 255); 
    background-color: rgb(14, 106, 192); 
    font-family:'Times New Roman', Times, serif;
    font-weight: bolder;
}
.para1 {color: rgb(8, 143, 64)}
.colored {color: #ad1d1d;}

.line1 {margin-bottom: 5px; color:aquamarine;}
.line2 {margin-bottom: 10px; color:blue;}
.line3 {margin-bottom: 15px;}
.moja {color: #d35050;}
